.swiper {
  width: 100%;
  height: auto;
  background-color: #f4f4f4d3;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

/* Main slider */
.mySwiper2 {
  width: 100%;
  height: 400px;
}

/* Thumbnail slider */
.mySwiper {
  height: 90px;
  width: 100%;
}

.mySwiper .swiper-slide {
  opacity: 0.6;

  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  background-color: #ffffffd3;
  padding: 15px 7px;
  border-radius: 50%;
  display: flex;

  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
  color: #1a202c;
}

/* Responsive */
@media (max-width: 768px) {
  .mySwiper2 {
    height: 250px;
  }

  .mySwiper {
    height: 60px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 20px;
    height: 20px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 18px;
  }
}
